/* element selectors*/
* {
  box-sizing: border-box;
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

body {
  background-color: lightgrey;
  max-width: 60rem;
}

header {
  font-family: "Pacifico", serif;
  font-size: 235%;
  padding: 8px;
  text-align: center;
}

header nav {
  padding-top: 10px;
  margin-right: 10px;
  float: center;
  font-family: Readex Pro;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin: 15px;
}

main {
  padding: 1.5rem;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* classes in alpha order */
.ai-c {
  align-items: center;
}

.box {
  margin-bottom: 20px;
  padding: 22px;
  font-family: "Readex Pro";
  background-color: cornflowerblue;
  position: relative;
  color: black;
}

.bgc-cornflowerblue {
  background-color: cornflowerblue;
}

.bgc-lightgray {
  background-color: lightgray;
}

.c-black {
  color: black;
}

.flex-item {
  background-color: cornflowerblue;
  width: 75%;
  padding: 10px;
  flex: 2;
}

.d-f {
  display: flex;
}

.ffrp {
  font-family: "Readex Pro";
}

.fl-l {
  float: left;
}

.fg-1 {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 1.5rem;
  font-family: "Readex Pro";
}

.fs-1 {
  flex-shrink: 1;
}

.fx-1 {
  flex: 1;
}

.fx-11 {
  flex: 1 1 1;
}

.flex-container {
  display: flex;
  background-color: cornflowerblue;
}

.flo-r {
  float: right;
}

.fw {
  flex-wrap: wrap;
}

.fxd-c {
  flex-direction: column;
}

.fxw-w {
  flex-wrap: wrap;
}

.fz-2 {
  font-size: 2rem;
}

.fz-22 {
  font-size: 22px;
}

.g {
  gap: 1.5rem;
}

.h-a {
  height: auto;
}

.h-100vh {
  height: 100vh;
}

.h300 {
  height: 300;
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.m {
  margin: auto;
}

.mb {
  margin-bottom: 20px;
}

.ml {
  margin-left: 130px;
}

.mt {
  margin-top: 1.5rem;
}

.mw-60 {
  max-width: 60rem;
}

.mw-100 {
  max-width: 100%;
}

.column-style {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.ovf {
  overflow: hidden;
}

.p {
  padding: 1.5rem;
}

.p22 {
  padding: 22px;
}

.pos-r {
  position: relative;
}

.style {
  margin: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ta-c {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* media query */
@media screen and (max-width: 767px) {
  .box {
    max-width: 50%;
    margin: 10px;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 481px) {
  .style {
    display: block;
  }
}
